:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #fff;
  font-family: "Noto Sans", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 992px) {
  .login-wrapper {
    justify-content: space-around !important;
  }

  .login-img-container {
    display: block !important;
  }

  .login-img-container img {
    height: min(81vh, 500px);
    min-height: 475px;
    margin-bottom: 7rem;
    object-fit: cover;
  }

  .login-title {
    display: flex;
    justify-content: flex-start;
  }

  .login-subtitle {
    display: flex;
    align-items: center !important;
    gap: 9px;
  }
}

@media (max-width: 991px) {
  .login-img-container {
    display: none !important;
  }

  .header {
    margin-bottom: 40px !important;
  }

  .menu-btn {
    display: block !important;
  }
  
  .menu-btn:hover .dropdown-menu {
    right: 5%;
    top: 10%;
  }

  .region-tabs {
    display: none !important;
  }

  .welcome-header {
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 20px;
  }

  .welcome-header::before,
  .welcome-header::after {
    min-width: 100% !important;
    margin: 0 !important;
  }

  .img-slider {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px !important;

    .img-container {
      width: 100% !important;
      height: 200px !important;
    }

    .small {
      width: 100% !important;
      margin-left: 0 !important;
      height: 160px !important;
    }

    .small img {
      width: 15% !important;
      min-width: 15% !important;
      height: auto;
    }

    .img-container img {
      width: 13% !important;
    }
    
    .slider-btn-group {
      top: -35px !important;
    }
  }

  .slider-btn-group {
    width: 100% !important;

    .slider-btn:last-child {
      margin-right: 0 !important;
    }
  }

  .country-card {
    width: 100% !important;
  }

  .country-card img {
    min-width: 30% !important;
    padding: clamp(0.3em, 2vw, 0.6em) !important;
  }

  .country-text {
    padding: clamp(0.6em, 2vw, 1em) 0.25em !important;
  }
}

@media (max-width: 575px) {
  .listing-page {
    padding: 30px 20px;
  }

  .country-name {
    font-size: clamp(10px, 2.5vw, 14px) !important;
  }

  .country-region {
    font-size: clamp(8px, 2.2vw, 12px) !important;
  }

  .img-slider {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px !important;

    .img-container img {
      width: 60px !important;
    }

    .small img {
      width: 80px !important;
    }
  }
}

@media (max-width: 375px) {
  .container {
    padding: 1em;
  }

  .login-wrapper {
    padding: 0.5rem;
  }

  .login-title {
    font-size: 20px;
  }

  .login-subtitle {
    font-size: 14px;
  }

  .login-input,
  .signin-btn,
  .divider-section {
    max-width: 100% !important;
  }

  .social-row {
    display: grid !important;
    justify-content: center !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px !important;
    padding: 0 2rem !important;
  }

  .icon-pos {
    display: flex;
    justify-content: center;
  }

  .icon-circle {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 196px) {
  .social-row {
    grid-template-columns: 1fr;
  }
}
